<link rel="stylesheet" href="{{ '/assets/css/override.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ site.cartolina_js.style }}" />
<style>
  .page__title { display: none !important; }
</style>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareSourceCode",
  "name": "Cartolina",
  "alternateName": "Cartolina.dev",
  "applicationCategory": "Cartography software",
  "url": "https://cartolina.dev/",
  "description": "Cartolina.dev is an open-source software for web-based 3D terrain cartography.",
  "author": {
    "@type": "Person",
    "name": "Ondřej Procházka",
    "alternateName": "Ondrej Prochazka",
    "url": "https://cartolina.dev/"
  },
  "publisher": [
    {
      "@type": "Person",
      "name": "Ondřej Procházka",
      "alternateName": "Ondrej Prochazka",
      "url": "https://cartolina.dev/"
    },
    {
      "@type": "Organization",
      "name": "Montevallo Consulting s.r.o.",
      "url": "https://cartolina.dev/"
    }
  ],
  "codeRepository": "https://github.com/cartolinadev",
  "programmingLanguage": ["C++", "TypeScript"]
}  
</script>
